---
layout: case_study
extra_css:
  - "case-study.css"
---
- content_for(:title, case_study.title)
- content_for(:cover_image, case_study.cover_image)
- content_for(:cover_title, case_study.cover_title)

.customer-info-section-wrapper
  .container.customer-info-section
    .row
      .col-md-5.section-content.customer-information
        .brand-logo
          = partial case_study.customer_logo
        .brand-detail
          %strong.title INDUSTRY
          .subtitle= case_study.customer_industry
        .brand-detail
          %strong.title LOCATION
          .subtitle= case_study.customer_location
        .brand-detail
          %strong.title EMPLOYEES
          .subtitle= case_study.customer_employees
      .col-md-7.section-content.customer-key-benefits
        %strong.title
          KEY BENEFITS
        %ul.benefits-list.list-unstyled
          - case_study.key_benefits.each do |benefit|
            %li.benefits-list-item
              %i.fa.fa-arrow-right.list-icon{ "aria-hidden": "true" }
              %p.list-content= benefit

.customer-case-section-wrapper
  .container.customer-case-section
    .row
      .col-md-5.section-content.customer-quote
        .quote-wrapper
          %p.quote-text
            &ldquo;
            = case_study.customer_quote
            &rdquo;
          .quote-author= case_study.customer_name
          .quote-author-title= case_study.customer_title
      .col-md-7.section-content.customer-result
        .customer-case-item
          %strong.title
            THE CUSTOMER
          - case_study.customer_info.each do |info_para|
            %p.contents= info_para
        .customer-case-item
          %strong.title
            THE CHALLENGE
          - case_study.customer_challenge.each do |challenge_para|
            %p.contents= challenge_para
        .customer-case-item
          %strong.title
            THE RESULTS
          - case_study.customer_result.each do |result_para|
            %p.contents= result_para
