---
layout: job_page
title: "Frontend Engineer"
---

{: .text-center}
<br>

## Responsibilities

* Fix prioritized issues from the issue tracker.
* Write the code to complete scheduled direction issues chosen by our scheduling committee, assigned to you by the frontend lead.
* Continually improve the quality of GitLab by using discretion of where you think changes are needed.
* Create high quality frontend code.
* Frontend Design Specialist: Implement the interfaces in GitLab proposed by UX Engineers and contributors.
* Frontend Design Specialist: Improve the [static website of GitLab](https://about.gitlab.com/) based on the collaborations with the the Designer and CMO.

## Workflow

- You work on issues tagged with 'Frontend' on [CE](https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name=frontend) and [EE](https://gitlab.com/gitlab-org/gitlab-ee/issues?label_name=frontend).
- The priority of the issues tagged with this label can be found in [the handbook under GitLab Workflow](https://about.gitlab.com/handbook/communication/#prioritize).
- When done with a frontend issue remove the 'Frontend' label and add the next [workflow label](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/PROCESS.md#workflow-labels) which is probably the 'Developer' label.

## Requirements for Applicants

* Know how to use CSS effectively
* Expert knowledge of JavaScript
* Basic knowledge of Vue.js is a plus but not a requirement
* Collaborate effectively with UX Designers, Developers, and Designers
* Be able to work with the rest of the community
* Knowledge of Ruby on Rails is a plus
* You share our [values](/handbook/values), and work in accordance with those values.

## Junior Developers
Junior Frontend Developers are developers who meeting the following criteria:
1. Technical skills
  * Needs guidance writing modular and maintainable code
  * Has less experience with HTML, CSS & JavaScript
1. Code quality
  * Leaves code in substantially better shape than before
  * Needs prompting to fix bugs/regressions
1. Communication
  * Needs help to manage time effectively
  * Participates in frontend technical conversations
1. Performance & Scalability
  * Needs help writing production-ready code
  * Has little to no experience writing large scale apps

<%= partial "includes/senior_developer" %>

## Staff Developers
A Senior Developer will be promoted to a Staff Developer when they have
demonstrated significant leadership to deliver high-impact projects. This may
involve any type of consistent "above and beyond senior level" performance,
for example:
1. Technical Skills
    * Identifies significant projects that result in substantial cost savings or revenue
    * Able to create innovative solutions that push GitLab's technical abilities ahead of the curve
2. Leadership
    * Leads the design for medium to large projects with feedback from other engineers
    * Working across functional groups to deliver the project
3. Code quality
    * Proactively identifying and reducing technical debt
    * Proactively defining and solving important architectural issues
4. Communication
    * Writing in-depth documentation that shares knowledge and radiates GitLab technical strengths
5. Performance & Scalability
    * Leads development of projects that lead to a significant improvement of the overall
      performance and scalability of GitLab


## Internships
We normally don't offer any internships, but if you get a couple of merge requests
accepted, we'll interview you for one. This will be a remote internship without
supervision; you'll only get feedback on your merge requests. If you want to
work on open source and qualify please submit an application.
In the cover letter field, please note that you want an internship and link to
the accepted merge requests. The merge requests should be of significant
value and difficulty, which is at the discretion of the manager. For
example, fixing 10 typos isn't as valuable as shipping 2 new features.

## Relevant links

- [Engineering Handbook](/handbook/engineering)
- [Engineering Workflow](/handbook/engineering/workflow)

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 45 minute [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a 45 minute first interview with a Frontend Engineer
* Candidates will then be invited to schedule a 1 hour technical interview with the Frontend Lead
* Candidates will be invited to schedule a third 45 minute interview with our VP of Engineering
* Finally, candidates will schedule a 50 minute interview with our CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).
