---
layout: job_page
title: "Security Specialist"
---

<%= partial "includes/positions/developer/security" %>

The Security Specialist reports to the [Security Lead](/jobs/security-lead/) and
has the following set of skills, experience, and responsibilities:

1. Technical Skills
    * Meets the requirements for an (intermediate or higher level) [Developer](https://about.gitlab.com/jobs/developer/)
    * Familiar with common security libraries, security controls, and common security flaws
      that apply to Ruby on Rails applications.  
    * Ability to discover and patch SQLi, XSS, CSRF, SSRF, authentication and
      authorization flaws, and other web-based security vulnerabilities (OWASP
      Top 10 and beyond).
    * Knowledge of common authentication technologies including OAuth, SAML, CAs,
      OTP/TOTP.
    * Knowledge of browser-based security controls such as CSP, HSTS, XFO.
    * Experience with standard web application security tools such as Arachni,
      Brakeman, and BurpSuite.
    * There should also be time to participate in "regular" development of GitLab.
2. Code quality
    * Proactively identify and reduce security risks.
    * Find and remove outdated and vulnerable code and code libraries.
3. Communication
    * Consult with other Developers and Product Managers to analyze and propose
      application security standards, methods, and architectures.
    * Handle communications with independent vulnerability researchers and design
      appropriate mitigation strategies for reported vulnerabilities.
    * Educate other developers on secure coding best practices.
    * Ability to professionally handle communications with outside researchers,
      users, and customers.
    * Ability to communicate clearly on technical issues.
4. Performance & Scalability
    * An understanding of how to write code that is not only secure but scales
      to a large number of users and systems.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

    * Selected candidates will be invited to schedule a 45 minute [screening call](/handbook/hiring/#screening-call) with a Recruiter
    * Next, candidates will be invited to schedule a 45 minute interview with the [Security Lead](https://about.gitlab.com/jobs/security-lead/)
    * Candidates will then be invited to do a [Technical Interview](/handbook/hiring/interviewing/technical/)
    * Candidates will be invited to schedule an interview with our VP of Engineering
    * Finally, candidates will have an interview with our CEO
    * Successful candidates will subsequently be made an offer via email
    
Additional details about our process can be found on our [hiring page](/handbook/hiring).
